.header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 80px;
  width: 100%;
  background-color: #fff;
  position: fixed;
  top: 0;
  z-index: 10;
}
.header__content {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.navigation {
  display: flex;
  gap: 1.5rem;
  justify-content: space-evenly;
  flex-direction: row;
  align-items: center;
}

.link {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  position: relative;
  text-decoration: none;
  color: black;
  transition: 0.3s all;
}
.link::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  background-color: #5ece7b;
  left: 0;
  top: 250%;
  transition: 0.2s all;
}
.link:hover::after {
  width: 100%;
}
.link.active {
  color: #5ece7b;
}
.link.active::after {
  width: 100%;
}

.navigation__actions {
  width: 15%;
  display: flex;
  gap: 1rem;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.navigation__actions__currency {
  display: flex;
  justify-content: center;
  gap: 0.6rem;
  align-items: center;
  cursor: pointer;
}
.navigation__actions__currency__list {
  list-style-type: none;
  position: absolute;
  z-index: 20;
  top: 120%;
  height: 140px;
  cursor: default;
  overflow-y: scroll;
  box-shadow: 0px 4px 35px 0 rgba(168, 172, 176, 1);
  background-color: #fff;
  border-radius: 6px;
  transition: all 0.1s;
}
.navigation__actions__currency__list::-webkit-scrollbar {
  display: none;
}
.navigation__actions__currency__list__ele {
  font-weight: 500;
  font-size: 18px;
  line-height: 160%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 0.5rem;
  padding: 10px 20px;
  cursor: pointer;
}
.navigation__actions__currency__list__ele:hover {
  background-color: #eeeeee;
}
.header__logo {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.navigation__actions-cart {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
}
.navigation__actions-cart-ind {
  position: absolute;
  color: #fff;
  background-color: #171718;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  font-size: 0.8rem;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 20px;
  /* padding: 0.2rem; */
  bottom: 50%;
  left: 85%;
}
.PLP {
  width: 80%;
  margin-inline: auto;
  margin-top: 140px;
}
.PLP__title {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 42px;
  color: #1d1f22;
  margin: 80px 0px 100px 00px;
}
.PLP__content {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(12, minmax(0, 1fr));
  column-gap: 40px;
  row-gap: 100px;
}
.PLP__content__card {
  grid-column: span 4 / span 4;
  height: 350px;
  position: relative;
  text-decoration: none;
}
.PLP__content__card:hover {
  box-shadow: 0 4px 35px 0 rgba(168, 172, 176, 0.19);
}
.PLP__content__card img {
  width: 100%;
  height: 250px;
}
.PLP__content__card__desc {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  font-weight: 300;
  font-size: 18px;
  line-height: 160%;
  color: #1d1f22;
  margin-top: 24px;
  padding: 1rem;
}
.PLP__content__card__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(255 241 241 / 60%);
  display: flex;
  justify-content: center;
  align-items: center;
  color: #8d8f9a;
  font-size: 24px;
  font-weight: 400;
}
.PDP {
  width: 80%;
  margin-inline: auto;
  margin-top: 80px;
  height: calc(100vh - 80px);
  /* background-color: #eeeeee; */
  display: flex;
  flex-direction: row;
}

.PDP__aside {
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 40px;
  overflow-y: scroll;
  padding: 1rem;
  padding-bottom: 0;
}
.PDP__aside::-webkit-scrollbar {
  display: none;
}
.PDP__aside__img-container {
  width: 80px;
  cursor: pointer;
}
.PDP__aside__img-container img.active-pic {
  border: 1px solid #1d1f22;
  box-shadow: 0px 0px 15px 3px #171718;
}
.PDP__aside__img-container img {
  max-width: 100px;
}
.PDP__main {
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: row;
  gap: 1rem;
}
.PDP__hero-image {
  width: 550px;
  max-height: 600px;
}
.PDP__hero-image img {
  object-fit: contain;
  width: 550px;
  height: calc(100vh - 80px);
}
.PDP__main__details {
  width: 44%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0.6rem;
  overflow-y: scroll;
  height: calc(100vh - 80px);
}
.PDP__main__details::-webkit-scrollbar {
  display: none;
}
.PDP__main__details .brand {
  font-weight: 600;
  font-size: 30px;
  line-height: 27px;
  color: rgba(29, 31, 34, 1);
  margin-bottom: 16px;
}
.PDP__main__details .name {
  font-weight: 400;
  font-size: 30px;
  line-height: 27px;
  color: rgba(29, 31, 34, 1);
  margin-bottom: 40px;
}
.PDP__main__details .attrs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.attr__title {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  margin-bottom: 0.5rem;
}
.attr__items {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 1rem;
}
.attr__value {
  min-width: fit-content;
  height: 36px;
  border: 1px solid #1d1f22;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding: 0 4px;
}
.attr__value.active {
  background-color: #1d1f22;
  color: #fff;
}
.attr__value:hover {
  background-color: #1d1f22;
  color: #fff;
}
.attr__value-color {
  transition: all 0.3s;
}
.attr__value-color:hover,
.attr__value-color.active {
  border: 2px solid #fff;
  outline: 1px solid #1d1f22;
  box-shadow: 0px 0px 5px 3px #171718;
}

.attr__price {
  font-weight: 700;
  font-size: 24px;
  color: rgba(29, 31, 34, 1);
  margin-bottom: 24px;
}

.add-to-cart {
  width: 100%;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 16px;
  color: #fff;
  padding: 16px 32px;
  background-color: #5ece7b;
  border: none;
  cursor: pointer;
  margin-bottom: 40px;
}
.description {
  font-weight: 400;
  font-size: 1rem;
  color: #1d1f22;
  text-align: justify;
}
